body
{
    background-image: url(fun2.gif);
    background-repeat: no-repeat;
    background-size: 100vw;
}
#key
{
    display: none;
    position: absolute;
    left: 72.5%;
    top: 4.5%;
}
#div2
{
    position: absolute;
    background-image: url(srednevekovie.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 49.5vw;
    height: 33vw;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    opacity: .95;
}
#text5 img
{
    width: 100%;
}
.text
{
    font-family: 'MariageAntD','Courier New', Courier, monospace;
    font-size: 3vw;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    text-align: center;
    opacity: 1;

    transition: opacity 2s ease-in-out;
}
#next
{
    font-size: 3vw;
    position: absolute;
    left: 46vw;
    top: 46%;
}
#back
{
    display: none;
    font-size: 3vw;
    position: absolute;
    left: 1.5vw;
    top: 46%;
}
#text2
{
    display: block;
}
#text3
{
    display: block;
}
#text5
{
    z-index: 1;
}

/*#text6
{
    display: none;
}*/

.opacityNull
{
    opacity: 0;
}

#title
{
    position: relative;
    font-family: 'AuntJudyBetter-Regular','Courier New', Courier, monospace;
    text-align: center;
    font-size: 5vw;
    color: #fff;
    letter-spacing: 1vw;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 5.0s ease-out infinite;
    text-shadow: 0px 0px 5px rgb(255, 4, 4), 0px 0px 5px #fff;
    top: 8vw;
}

@keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }

#next:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: red;
}

#back:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: red;
}
  
.backTransparent 
{
    opacity: 0;
}

.nextTransparent 
{
    opacity: 1;
}
